.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-height: 100%; /* allows placeholder text to align vertically */
}

.navContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navContainer > .closeButton {
  position: absolute;
  right: 0;
  top: 0;
}

.navHeading {
  color: var(--light90);
  padding: 6px 0;
}

.placeholder {
  margin: auto 0;
  color: var(--light90);
  text-align: center;
}

.retailerLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.retailerLinkHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.retailerLinkHeading > h2 {
  margin-right: auto;
  color: var(--light100);
}

.retailerLinkHeading > .copyLinkButton {
  margin: 0 20px;
}

.retailerLinkHistoryContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.retailerLinkHistory {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: var(--light90);
}

.retailerLinkHistory > :last-child {
  margin-left: auto;
}

.addLinkModalTitle {
  font-size: var(--fontSizeTitle);
  margin-bottom: 20px;
}

.addLinkModalDescription {
  font-size: var(--fontSizeBody);
  color: var(--light90);
  margin: 0;
  margin-top: -10px; /* squeeze the heading's bottom margin */
  margin-bottom: 20px;
}
