.backButton {
  width: auto;
}

.buildPrice {
  padding: 8px 20px;
  border-radius: 12px;

  background-color: var(--accent100);
  color: var(--light100);

  font-size: var(--fontSizeTitle);
}

.labelledControl {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelledControlInline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.negativeLabel {
  color: var(--negative100);
}

.subnavHeading {
  padding-left: 20px;
}

.scrollContainer {
  composes: appScrollbar from global;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
}

.scrollContainer > * {
  flex-shrink: 0;
}

.emptySlot {
  color: var(--light90);
  font-size: var(--fontSizeBody);
  text-align: center;
}
