.backButton {
  width: auto;
}

.buildPrice {
  padding: 8px 20px;
  border-radius: 12px;

  background-color: var(--accent100);
  color: var(--light100);

  font-size: var(--fontSizeTitle);
}

.labelledControl {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.activeControl {
  outline: 2px solid var(--accent0);
  color: var(--accent0);
  background-color: var(--light90);
}
