.button {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  font-family: inherit;
  padding: 8px 12px;
}

.button:hover {
  cursor: pointer;
}

.sizeNormal {
  font-size: var(--fontSizeBody);
}

.sizeLarge {
  font-size: var(--fontSizeHeading);
}

.variantDefault {
  border-color: var(--light80);
  color: var(--light90);
}

.variantDefaultActive,
.variantDefault:active {
  border-color: var(--light90);
  color: var(--light100);
}

.variantActive,
.variantAccent {
  background-color: var(--accent100);
  border-color: var(--accent100);
  color: var(--light100);
}

.variantAccentActive,
.variantAccent:active {
  background-color: var(--light90);
  border-color: var(--accent0);
  color: var(--accent0);
}

.variantNegative {
  background-color: var(--negative100);
  border-color: var(--negative100);
  color: var(--light100);
}

.variantNegativeActive,
.variantNegative:active {
  background-color: var(--light90);
  border-color: var(--negative100);
  color: var(--negative100);
}
