.container {
  display: flex;
  flex-direction: column;
}

.tableName {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.scrollContainer {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 65px;
}

.selectedRow {
  display: grid;
}

.tableFilters {
  min-height: 36px;
  margin-bottom: 8px;
}

.table {
  display: grid;
}

.row:not(:first-child) {
  border-top: 1px solid var(--dark0);
}

.cell,
.actionCell {
  background-color: var(--dark10);
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  text-align: center;
}

.actionCell {
  position: sticky;
  right: 0;
}

.actionCell > button {
  text-align: center;
}

.cellName {
  color: var(--light80);
  font-size: 16px;
}

.cellValueNeutral {
  color: var(--light90);
  font-size: 22px;
}

.cellValuePositive {
  color: var(--positive100);
  font-size: 22px;
}

.cellValueNegative {
  color: var(--negative100);
  font-size: 22px;
}

.emptyState {
  background-color: var(--dark10);
  min-height: 120px;

  color: var(--light80);
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalTitle {
  font-size: var(--fontSizeTitle);
  margin-bottom: 20px;
}
