.container {
  background-color: var(--dark10);
  height: 100vh;

  display: grid;
  grid-template-columns: 380px 1fr;
}

.nav,
.subnav {
  /* width: 100%; */
  grid-column: 1 / 3;
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid var(--dark0);
}

.nav > :last-child {
  margin-left: auto;
}

.subnav {
  justify-content: center;
  padding: 0;
  gap: 10px;
}

.sidebar {
  composes: appScrollbar from global;
  grid-column: 1 / 2;
  padding: 20px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.content {
  composes: appScrollbar from global;
  grid-column: 2 / 3;
  padding: 20px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  background-color: var(--dark0);
}

.emptyStateText {
  font-size: var(--fontSizeHeading);
  /* Centers vertically & horizontally */
  /* Per https://stackoverflow.com/a/33856609 */
  margin: auto;
  color: var(--light80);
}
