.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);
  /* TODO needed with position absolute? */
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  padding: 20px;
}

.modal {
  background-color: var(--dark10);
  padding: 20px;
}

.variantDefault {
  width: 40vw;
  margin: auto;
}

.variantRightSide {
  width: 27vw;

  /* align-self: flex-end;
  margin: -20px;
  min-height: 100vh;
  overflow-y: auto; */

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
