@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
}

:root {
  --dark0: #3a3a3a;
  --dark10: #575757;
  --light80: #898989;
  --light90: #cdcdcd;
  --light100: #f4f4f4;

  --accent0: #8857c7;
  --accent100: #8c73ab;

  --positive100: #70ce68;
  --negative100: #e3766f;

  --fontSizeTitle: 28px;
  --fontSizeHeading: 22px;
  --fontSizeLabel: 20px;
  --fontSizeBody: 16px;
}

body {
  margin: 0;

  background-color: var(--dark0);
  color: var(--light100);
  font-size: var(--fontSizeBody);
  font-family: Lato, sans-serif;
}

/* box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: var(--fontSizeTitle);
  font-weight: bold;
}
h2,
h3 {
  font-size: var(--fontSizeHeading);
}

input,
select,
button {
  display: inline-block;

  height: auto;
  min-height: 36px;

  border: none;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--light90);
  font-size: var(--fontSizeBody);
  font-family: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 0;
}

input {
  background-color: transparent;
  border-bottom: 1px solid var(--light80);
  color: var(--light100);
  font-size: var(--fontSizeHeading);
  padding: 12px 10px;
}
input:focus-visible {
  outline: none;
  border-bottom-color: var(--accent0);

  /* 
  outline: 2px solid var(--accent0);
  background-color: var(--light90);
  border-radius: 4px;
  color: var(--dark0); 
  */
}

label {
  font-size: var(--fontSizeLabel);
  color: var(--light90);
}
